* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  align-items: center;
  background: rgba(7, 43, 50, 0.4);
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

nav span {
  color: #cfd8dc;
  padding: 10px;
}

.tagline {
  font-size: 0.9rem;
}

nav .container :nth-child(1) {
  margin-right: auto;
}

nav a {
  padding: 10px;
  text-decoration: none;
}

.nav-links {
  display: block;
}

.nav-links a {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.nav-links a:hover {
  background: #009688;
}

.nav-links .active-nav-link {
  border-top: 2px solid #29b6f6;
  padding-top: 14px;
}

.icon {
  color: #ffffff;
  cursor: pointer;
  display: none;
}

.bar-1,
.bar-2,
.bar-3 {
  background-color: #ffffff;
  height: 2px;
  margin: 6px 0;
  transition: 0.2s;
  width: 30px;
}

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 3px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -7px);
}


.responsive a:hover {
  background: #009688;
}

.carousel {
  margin: auto;
  position: relative;
}

.slide {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: ease-in;
  animation-duration: 0.5s;
  animation-name: ease-in;
  display: none;
}

@-webkit-keyframes ease-in {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes ease-in {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.text {
  bottom: 25%;
  color: #f2f2f2;
  font-weight: lighter;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  text-align: center;
  width: 100%;
}

.text .welcome-text {
  font-size: 3.5rem;
}

.text .brand {
  font-weight: bold;
}

.text .tag-text {
  font-size: 2.75rem;
  line-height: 40px;
}

.text .tag-text span {
  color: #1f987c;
}

.text .bottom-text {
  line-height: 60px;
}

.text .bottom-text span {
  font-size: 1.25rem;
}

.social-links {
  bottom: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.social-links div {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  transition: all 0.2s;
}

.twitter {
  background-image: url('../images/twitter_hover.png');
  background-repeat: no-repeat;
  padding: 10px;
}

div.twitter:hover {
  background-image: url('../images/twitter.png');
  background-repeat: no-repeat;
  padding: 10px;
}

.social-links .facebook {
  background-image: url('../images/fb_hover.png');
  background-repeat: no-repeat;
  padding: 10px;
}

div.facebook:hover {
  background-image: url('../images/fb.png');
  background-repeat: no-repeat;
  padding: 10px;
}

.social-links .google {
  background-image: url('../images/google_hover.png');
  background-repeat: no-repeat;
  padding: 10px;
}

div.google:hover {
  background-image: url('../images/google.png');
  background-repeat: no-repeat;
  padding: 10px;
}

.social-links .dribble {
  background-image: url('../images/dribble_hover.png');
  background-repeat: no-repeat;
  padding: 10px;
}

div.dribble:hover {
  background-image: url('../images/dribble.png');
  background-repeat: no-repeat;
  padding: 10px;
}

#prev-button, #next-button {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px 14px;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: 2;
}

#prev-button {
  left: 10px;
}

#prev-button:hover {
  box-shadow: 0 0 10px #000000;
}

#next-button {
  right: 10px;
}

#next-button:hover {
  box-shadow: 0 0 10px #000000;
}

.carousel .active {
  display: block;
  opacity: 1;
  z-index: 2;
}

.carousel-controls {
  bottom: 5px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.carousel-controls .dot {
  background-color: #444444;
  border: 1px solid #444444;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin: 0 2px;
  transition: all 0.6s ease;
  width: 25px;
}

.carousel-controls .active {
  background: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  width: 25px;
  z-index: 2;
}

.features {
  background: #f4f7f9;
  margin: 0;
  padding: 50px 0 70px 0;
}

.section-title {
  padding-top: 0;
  text-align: center;
}

.section-title div {
  height: 45px;
}

.section-title span {
  color: #43ae8c;
  font-size: 1.75em;
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.svg-alignment {
  align-items: center;
  display: inline-flex;
}

.svg-alignment img {
  height: auto;
  width: auto;
}

.features-content {
  display: inline;
}


.feature-block {
  display: inline-flex;
  flex: 1;
}

.feature-image,
.feature-content {
  padding: 10px;
}

.feature-content {
  width: 100%;
}

.feature-title {
  font-size: 1.25em;
  font-weight: bold;
}

.feature-info {
  margin-top: 5px;
}

.feature-info span {
  color: #37474f;
  font-size: .75em;
}

.works {
  margin: 0;
  padding: 50px 0 70px 0;
}

.works-info {
  text-align: center;
}

.works-info .container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.works-info span {
  display: inline-block;
  font-size: 1.05em;
  font-weight: 600;
  width: 100%;
}

.works-filter #selection {
  padding: 40px 0;
  text-align: center;
}

.filter-button {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: .75em;
  font-weight: bold;
  padding: 5px 15px;
  transition: 0.2s;
}

.filter-button:hover {
  background: #1f987c;
  border-radius: 5px;
  color: #ffffff;
}

.active-filter-button {
  background: #1f987c;
  border-radius: 5px;
  color: #ffffff;
}

.active-filter-button:focus {
  outline: none;
}

.works-pictures {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.works-pictures .column {
  display: none;
  flex: 25%;
  padding: 0;
  position: relative;
}

.works-pictures .column img {
  backface-visibility: hidden;
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  opacity: 1;
  transition: .5s ease;
  vertical-align: middle;
}

.works-pictures .column:hover img {
  opacity: 0.3;
}

.hover-content {
  align-items: center;
  background: #1f987c;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.works-pictures .column:hover .hover-content {
  color: #ffffff;
  opacity: 1;
}

.works-pictures .column .hover-content .text {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 1em;
  left: 50%;
  padding: 16px 32px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.works-pictures .column .hover-content .content-info .image {
  display: block;
  margin: auto;
  padding: 10px;
}

.works-pictures .column .hover-content .content-info .image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.works-pictures .column .hover-content .content {
  font-size: 1.1em;
  font-weight: 600;
}

.works-pictures .column .hover-content .content-caption {
  font-size: .8em;
  font-weight: lighter;
  padding: 5px;
}

.works-filter:after {
  content: "";
  display: flex;
  justify-content: center;
}

.works-filter .show {
  display: block;
  margin: auto;
  text-align: center;
}

footer {
  background: #1f987c;
  border-top: 5px solid #000000;
  padding: 70px 0;
}

footer .container {
  align-items: flex-start;
  display: flex;
}

.footer-block {
  padding: 10px;
  flex: 1;
}

.company-logo {
  width: 80px;
}

.brand-info {
  padding: 20px 0 0 0;
}

footer span {
  color: #ffffff;
  font-size: 0.75em;
}

.footer-title-text {
  padding: 0 0 40px 0;
}

.footer-title-text span {
  font-size: .9em;
}

footer .search {
  position: relative;
  width: 200px;
}

footer .search input {
  background: #1f987c;
  border-radius: 4px;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 100%;
}

footer .search img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

.search-info {
  padding: 10px 0 0 0;
}

footer .footer-links {
  margin: 0;
}

footer .footer-links ul {
  -moz-column-count: 2;
  -o-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer-links ul li {
  color: #ffffff;
  font-size: .75em;
  padding: 0 0 10px 0;
}

.created-by {
  margin: 0 0 80px 0;
  display: inline-flex;
}

.created-by i {
  color: #000000;
}

.created-by svg {
  margin: 0 10px 0 0;
}

.created-by span span {
  color: #000000;
  font-size: 1em;
}

.copyright span {
  color: #000000;
}

@media (max-width: 992px) {
  .nav-links a {
    display: none;
  }

  .icon {
    display: block;
  }

  .responsive {
    display: block;
    position: absolute;
    top: 50px;
    width: 80%;
  }

  .responsive a {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    float: none;
    text-align: left;
  }

  .text .welcome-text {
    font-size: 3rem;
  }

  .text .brand {
    font-weight: bold;
  }

  .text .tag-text {
    font-size: 2rem;
    line-height: 40px;
  }

  .text .tag-text span {
    color: #1f987c;
  }

  .text .bottom-text {
    line-height: 60px;
  }

  .text .bottom-text span {
    font-size: 1rem;
    margin: 50px;
  }

  .features .container {
    display: block;
  }

  .feature-block {
    display: block;
    margin: auto;
    padding: 10px 0;
    text-align: center;
  }

  .feature-image {
    margin: 0;
    padding: 0;
  }

  .feature-image img {
    width: 30px;
  }
  
  footer .container {
    display: block;
    margin: auto;
    width: 100%;
  }

  .footer-block {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .container {
    align-items: center;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .nav-links a {
    display: none;
  }

  .icon {
    display: block;
  }

  .responsive {
    /*    right: 100px;*/
    display: block;
    position: absolute;
    top: 50px;
    width: 90%;
  }

  .responsive a {
    background: #444444;
    display: block;
    float: none;
    text-align: left;
  }

  .text .welcome-text {
    font-size: 2.5rem;
  }

  .text .brand {
    font-weight: bold;
  }

  .text .tag-text {
    font-size: 1.75rem;
    line-height: 40px;
  }

  .text .tag-text span {
    color: #1f987c;
  }

  .text .bottom-text {
    line-height: 60px;
  }

  .text .bottom-text span {
    font-size: 1rem;
  }

  .works-pictures .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  footer .container {
    display: block;
    margin: auto;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    align-items: center;
    display: flex;
    margin-right: 40px;
    padding-left: 5px ;
    padding-right: 5px ;
    width: 100%;
  }

  .nav-links a {
    display: none;
  }

  .icon {
    display: block;
  }

  .responsive {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .responsive a {
    background: #444444;
    display: block;
    float: none;
    text-align: left;
  }

  .text .welcome-text {
    font-size: 1.5rem;
  }

  .text .brand {
    font-weight: bold;
  }

  .text .tag-text {
    line-height: 40px;
    font-size: 1rem;
  }

  .text .tag-text span {
    color: #1f987c;
  }

  .text .bottom-text {
    line-height: 60px;
  }

  .text .bottom-text span {
    font-size: 0.75rem;
  }

  .works-pictures .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .works-pictures .column img {
    width: 100%;
  }
}